.env

# ビルドファイル
infra/infra
/user
/main

# node
node_modules

#AIエージェント用の課題メモディレクトリ
tasks
tmp
.claude-local

# 恐らくWindowsユーザーに使用中と解釈されWSL2配置時にgit configコマンドが失敗してしまうのでマウントした際の差分を無視する用。
.gitconfig

# tfstateのような状態管理ファイルではない。CloudFormation 側のスタック状態で管理されるので不要
*/cdk.out
