# 環境情報
APP=local # 語群はci local dev stg prod
GO_PORT=8080
APP_ROOT=/home/dev/backend

AWS_ACCESS_KEY_ID=test # flociに接続する際に必要
AWS_SECRET_ACCESS_KEY=test # flociに接続する際に必要
AWS_DEFAULT_REGION=ap-northeast-1 # アプリケーション側で必要
CDK_DEFAULT_REGION=${AWS_DEFAULT_REGION} # cdklocalにAWS_*を間引かれてもCDKが参照できるようにする
AWS_ENDPOINT_URL=http://floci.sandbox.local:4566 # cdklocalがpath-style S3を有効化できるホスト名
AWS_ENDPOINT_URL_S3=${AWS_ENDPOINT_URL} # cdklocalのS3アセット公開で必要
CDK_DEFAULT_ACCOUNT=000000000000 # cdklocalにAWS_*を間引かれてもCDKが参照できるようにする
